<h1>ログイン</h1>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="login_wrapper">
  <div class="mail">
    <h4>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"new_text"%>
    </h4>
  </div>
  <div class="pass">
    <h4>
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" ,class:"new_text"%>
    </h4>
  </div>
  <div class="actions">
    <%= f.submit "ログイン", class:"actions" %>
  </div>
</div>
<% end %>
