<div class="page_title">
  <h1>レシピ編集</h1>
</div>
<div class ="recipe_wrapper">
  <%= form_with model: @recipe, local: true do |form| %>
    <%= render 'layouts/error_messages', model: form.object %>
    <di class="recipe_item">
      <%= form.label :photo,"イメージ画像" %>
      <%= form.file_field :photo, class:"photo"%>

      <%= form.label :title,"タイトル" %>
      <%= form.text_area :title, class:"title_box" %>

      <%= form.label :material,"必要な具材" %>
      <%= form.text_area :material, class:"material_box"%>

      <%= form.label :process,"料理手順" %>
      <%= form.text_area :process, class:"process_box"%>

      <div class="time_label">
        <%= form.label :cooking_minute,"料理にかかる時間(分)" %>
      </div>
      <div class="time_text">
        <%= form.text_field :cooking_minute, class:"cooking_minute" %>分
      </div>

      <div>
        <%= form.submit "登録する" ,class:"recipe_submit"%>
      </div>
      </div>
    <% end %>
</div>
