<div class="show_wrapper">

  <div class="space-between">
    <h3>
      <%= @recipe.title %>
    </h3>
    <h3>調理時間:<%= @recipe.cooking_minute %>分 </h3>
  </div>

  <div class="space-between">
    <h4>
      作成者: <%= @recipe.user.name %>
    </h4>
    <% if user_signed_in? %>
      <% if @recipe.user_id == current_user.id %>
        <%= link_to "編集する", edit_recipe_path(@recipe) %>
      <% end %>
    <% end %>
  </div>

  <div class="写真の領域">
    <% if @recipe.photo_url.present? %>
      <%= image_tag @recipe.photo_url %>
    <% end %>
  </div>

  <div class="料理の項目名">
    <h3>必要な具材</h3>
  </div>
  <div class="項目の詳細">
    <%= @recipe.material %>
  </div>

  <div class="料理の項目名">
    <h3>料理手順</h3>
  </div>
  <div class="項目の詳細">
    <%= @recipe.process %>
  </div>

    <% if user_signed_in? %>
      <% if current_user != @recipe.user %>
      <div class="recipe-favorite">
        <% if @recipe.favorited_by(current_user).blank? %>
          <h2>お気に入り</h2>
            <%= link_to "登録する", recipe_favorites_path(@recipe),data: { "turbo-method": :post}, class: "btn btn-success btn-sm" %></div>
        <% else %>
          <h2>お気に入り</h2>
            <%= link_to "解除する", recipe_favorite_path(@recipe,@recipe.favorited_by(current_user)),data: { "turbo_method": :delete}%></div>
      <% end %>
      </div>
      <% end %>
    <% end %>

  <% if user_signed_in? %>
    <% if @recipe.user_id == current_user.id %>
      <%= link_to 'レシピを削除する',recipe_path(@recipe.id), data: { turbo_method: :delete, turbo_confirm: " 本当に削除しますか?" } %>
    <% end %>
  <% end %>
</div>
