<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to 'Your Recipes', root_path,class: 'header-link' %>
        <% if user_signed_in? %>
          <div class="user-links">
            <%= link_to "レシピを作成する", new_recipe_path, class: 'user-link' %>
            <%= link_to "お気に入り一覧", recipe_favorites_path(current_user), class: 'user-link' %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'user-link' %>
          </div>
        <% else %>
          <div class="user-links">
              <%= link_to "新規登録", new_user_registration_path, class: 'user-link' %>
              <%= link_to "ログイン", new_user_session_path, class: 'user-link' %>
          </div>
        <% end %>
      </header>
    <%= yield %>
  </body>
</html>
